<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Review + Upload Paper</title>
</head>
<body>
<h1>Create a New Review and Upload a Paper</h1>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <fieldset>
        <legend>Review Details</legend>
        {{ review_form.as_p }}
    </fieldset>

    <fieldset>
        <legend>Upload Initial Paper</legend>
        {{ paper_form.as_p }}
    </fieldset>

    <button type="submit">Submit</button>
</form>
</body>
</html>
